
<form>

  <h2>Shipping methods</h2>
  <div class="form-check">
    <div>
      <input type="radio" class="form-check-input"  id="home" name="shipping" value="home delivery">
      <label for="home" class="form-check-label">Home delivery</label>
    </div>

    <div>
      <input type="radio" class="form-check-input" id="point" name="shipping" value="delivery point">
      <label for="point" class="form-check-label">Shipping to a delivery point</label>
    </div>

    <div>
      <input type="radio" class="form-check-input" id="store" name="shipping" value="delivery to a store">
      <label for="store" class="form-check-label">Shipping to a store</label>
    </div>
  </div>

  <h2>Payment methods</h2>
  <div class="form-check">
    <div>
      <input type="radio" class="form-check-input"  id="PayU" name="payment" value="PayU">
      <label for="PayU" class="form-check-label">PayU</label>
    </div>

    <div>
      <input type="radio" class="form-check-input" id="card" name="payment" value="card">
      <label for="card" class="form-check-label">Card payment</label>
    </div>

    <div>
      <input type="radio" class="form-check-input" id="cash" name="payment" value="cash on delivery">
      <label for="cash" class="form-check-label">Cash on delivery</label>
    </div>
  </div>

</form>
