
<h1>Checkout Summary</h1>

<h2>Ordered products:</h2>
<div class="cart-summary">
  <div class="container">
    <div class="row">
      <div class="col"><strong>Product name</strong></div>
      <div class="col"><strong>Quantity</strong></div>
      <div class="col"><strong>Unit price</strong></div>
      <div class="col"><strong>Total price</strong></div>
    </div>

    <div *ngFor="let item of cartProducts" class="row text-center">
      <div class="col">{{ item.product.name }}</div>
      <div class="col">
        <input type="number" class="form-control" [(ngModel)]="item.quantity" [min]="1" name="units-quantity" disabled>
      </div>
      <div class="col">{{ item.product.price }}</div>
      <div class="col">{{ calcUnitsPrice(item) }}</div>
    </div>

    <div class="cart-summary-box">
      <div class="row">
        <div class="col"><strong>Cart total:</strong></div>
        <div class="col">{{ sum | currency:'USD':'symbol':'1.2-2' }}</div>
      </div>

      <div *ngIf="discount" class="row">
        <div class="col"><strong>Discount:</strong></div>
        <div class="col">{{ discount | currency:'USD':'symbol':'1.2-2' }}</div>
      </div>

      <div *ngIf="discount" class="row">
        <div class="col"><strong>Cart total with discount:</strong></div>
        <div class="col">{{ sumWithDiscount | currency:'USD':'symbol':'1.2-2' }}</div>
      </div>
    </div>


  </div>
</div>

<h2>Shipping information (client data)</h2>
<form class="client-data-preview-form" #form="ngForm">

  <div class="row-cols-1">
    <label for="name" class="col-form-label">Name</label>
    <input type="text" class="form-control" id="name" value="{{ customer.name }}" disabled>
  </div>

  <div class="row-cols-1">
    <label for="lastName" class="col-form-label">Last name</label>
    <input type="text" class="form-control" id="lastName" value="{{ customer.lastName }}" disabled>
  </div>

  <div class="row-cols-1">
    <label for="email" class="col-form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" value="{{ customer.email }}" disabled>
  </div>

  <div class="row-cols-1">
    <label for="phoneNumber" class="col-sm-2 col-form-label">Phone number</label>
    <div class="col-sm-10">
      <input type="tel" id="phoneNumber" value="{{ customer.phone }}" disabled>
    </div>
  </div>

  <div class="row-cols-1">
    <label for="street" class="col-form-label">Street</label>
    <input type="text" class="form-control" id="street" value="{{ customer.street }}" disabled>
  </div>

  <div class="row">
    <div class="col">
      <label for="houseNumber" class="col-form-label">House number</label>
      <input type="text" class="form-control" id="houseNumber" value="{{ customer.houseNumber }}" disabled>
    </div>

    <div class="col">
      <label for="flatNumber" class="col-form-label">Flat number</label>
      <input type="text" class="form-control" id="flatNumber" disabled>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="postcode" class="col-form-label">Postcode</label>
      <input type="text" class="form-control" id="postcode" value="{{ customer.postcode }}" disabled>
    </div>

    <div class="col">
      <label for="city" class="col-form-label">City</label>
      <input type="text" class="form-control" id="city" value="{{ customer.city }}" disabled>
    </div>
  </div>
</form>

<h2>Shipping and payment methods</h2>
<div class="cart-summary">
  <div class="row">
    <div class="col">Shipping method:</div>
    <div class="col">{{ shippingMethod }}</div>
  </div>
  <div class="row">
    <div class="col">Payment method:</div>
    <div class="col">{{ paymentMethod }}</div>
  </div>
</div>

<div class="row arrows-row">
  <div class="col left-arrow-button-div">
    <button class="svg-button arrow-button" [routerLink]="['/sales/shipping']" >
      <i class="fa-solid fa-arrow-left"></i> Shipping and payment options
    </button>
  </div>

  <div class="col right-arrow-button-div">
      <button class="btn-submit arrow-button"  (click)="acceptOffer(template)">
        Place order
      </button>

    <ng-template #template>
      <div class="template">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Order placed</h4>
          <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Your order was successfully placed, order ID: {{ reservationId }}
        </div>
      </div>

    </ng-template>

  </div>
</div>



