$base-dark: #7F8E9A;
$base-light: #d9d9d9;
$font-color-dark: #7F8E9A;
$font-color-light: #d9d9d9;
$element-color: rgba(255, 255, 255, 0.74);

button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.arrow-button {
  color: $base-dark;
}

.right-arrow-button-div {
  text-align: right;
}

.left-arrow-button-div {
  text-align: left;
}

.arrows-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.template {
  color: black;
}

.modal-header {
  border-bottom: 1px solid #ccc;
}

.form-control {
  padding: 8px;
  color: #333333;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.form-control[disabled] {
  background-color: #f2f2f2;
  color: #a8a8a8;
  cursor: not-allowed;
}

.cart-summary {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: $element-color;
  color: $font-color-dark !important;;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.col {
  flex: 1;
  text-align: center;
}

.col:first-child {
  flex: 2;
  text-align: left;
}

.col:nth-child(2) {
  flex: 0.5;
}

.cart-total {
  margin-top: 10px;
  font-weight: bold;
}

.discount-row {
  background-color: #f2f2f2;
}

.discount-row .col {
  font-style: italic;
}

.cart-summary-box {
  background-color: $element-color;
  color: $font-color-dark !important;
  padding: 15px 20px; // zmniejszenie paddingu o połowę
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: auto; // przesunięcie do prawej strony
  width: 500px; // szerokość elementu
  white-space: nowrap;
}
