$base-dark: #7F8E9A;
$base-light: #d9d9d9;

$font-color-dark: #7F8E9A;
$font-color-light: #d9d9d9;

$element-color: rgba(255, 255, 255, 0.74);

.btn-submit {
  border: 2px solid $base-light !important;
  color: $base-light;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: auto;
}
.btn-submit:hover {
  background-color: $base-light;
  color: $font-color-dark;
}

.form-control, .form-select{
  color: #333333;
}

input[type="tel"] {
  background-color: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  border-color: #e9edf0;
  border-radius: 0.375rem;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.arrow-button{
  color: $base-dark;
}

.right-arrow-button-div{
  text-align: right;
}

.left-arrow-button-div{
  text-align: left;
}

.arrows-row{
  padding-top: calc(0.375rem + var(--bs-border-width));
  padding-bottom: calc(0.375rem + var(--bs-border-width));
}
