<h1>Contact and shipping information</h1>

<form class="client-data-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="row-cols-1">
    <label for="name" class="col-form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" #name=ngModel [(ngModel)]="customer.name" required>
    <div *ngIf="name.touched && name.invalid" class="alert alert-danger">Please fill this field</div>
  </div>

  <div class="row-cols-1">
    <label for="lastName" class="col-form-label">Last name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" #lastName=ngModel [(ngModel)]="customer.lastName" required>
    <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger">Please fill this field</div>
  </div>

  <div class="row-cols-1">
    <label for="email" class="col-form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
           pattern=".+@.+\.\w{1,5}" size=50
           #email=ngModel [(ngModel)]="customer.email" required>
    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">Please fill this field correctly</div>

  </div>

  <div class="row-cols-1">
    <label class="col-form-label form-check-label" for="newsletterCheck">Do you want to receive news about our products?</label>
    <input type="checkbox" class="form-check-input" id="newsletterCheck">
  </div>

  <div class="row-cols-1">
    <label for="phoneNumber" class="col-sm-2 col-form-label">Phone number</label>
    <div class="col-sm-10">
      <input type="tel" id="phoneNumber" name="phone"
         pattern="(\+[0-9]{2})?\s?[0-9]{3}\s?[0-9]{3}\s?[0-9]{3}\s?" value="+48 "
             #phone=ngModel [(ngModel)]="customer.phone">
      <div *ngIf="phone.invalid" class="alert alert-danger">Please fill this field correctly or leave it blank</div>
    </div>
  </div>

  <div class="row-cols-1">
    <label for="street" class="col-form-label">Street</label>
    <input type="text" class="form-control" id="street" name="street" #street=ngModel [(ngModel)]="customer.street" required>
    <div *ngIf="street.invalid && street.touched" class="alert alert-danger">Please fill this field</div>
  </div>

  <div class="row">
      <div class="col">
        <label for="houseNumber" class="col-form-label">House number</label>
        <input type="text" class="form-control" id="houseNumber" name="houseNumber" #houseNumber=ngModel [(ngModel)]="customer.houseNumber" required>
        <div *ngIf="houseNumber.invalid && houseNumber.touched" class="alert alert-danger">Please fill this field</div>
      </div>

      <div class="col">
        <label for="flatNumber" class="col-form-label">Flat number</label>
        <input type="text" class="form-control" id="flatNumber" >
      </div>
  </div>


  <div class="row">
    <div class="col">
      <label for="postcode" class="col-form-label">Postcode</label>
      <input type="text" class="form-control" id="postcode"
             pattern="[0-9]{2}[-\s]?[0-9]{3}" name="postcode" #postcode=ngModel [(ngModel)]="customer.postcode" required>
      <div *ngIf="postcode.invalid && postcode.touched" class="alert alert-danger">Please fill this field correctly</div>
    </div>

    <div class="col">
      <label for="city" class="col-form-label">City</label>
      <input type="text" class="form-control" id="city" name="city" #city=ngModel [(ngModel)]="customer.city" required>
      <div *ngIf="city.invalid && city.touched" class="alert alert-danger">Please fill this field</div>
    </div>
  </div>

  <div class="row-cols-1">
    <label for="select" class="col-form-label">Chose your country from the list below</label>
    <select class="form-select" id="select" aria-label="Country select">
      <option value="1">Poland</option>
      <option value="2">Slovakia</option>
      <option value="3">Czech Republic</option>
    </select>
  </div>

  <div class="row-cols-1">
    <label for="comment" class="col-form-label">Comment</label>
    <textarea class="form-control" id="comment" name="comment"></textarea>
  </div>

  <div class="row arrows-row">
    <div class="col left-arrow-button-div">
      <button class="svg-button arrow-button" [routerLink]="['/sales/cart']">
        <i class="fa-solid fa-arrow-left"></i> Products in cart
      </button>
    </div>

    <div class="col right-arrow-button-div">
      <button class="svg-button arrow-button" type="submit" [disabled]="isNextPageButtonDisabled(form)">
        Shipping and payment options <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>

</form>
