$base-dark: #A6603A;
$base-light: #EFE3B8;

$font-color-dark: #A6603A;
$font-color-light: #EFE3B8;

.product-details-container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: $base-light !important;
  color: $font-color-dark !important;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}
