
<span>{{ title }} app is running!</span>

<div *ngIf="products">
  <div *ngFor="let product of products">
    <h2>{{product.name}}</h2>
    <p>price: {{product.price}}</p>
    <img src="{{product.image}}">
  </div>

<!--  id-->
<!--  :-->
<!--  "000e7f83-dbc2-4565-8fc2-61094d79736a"-->
<!--  image-->
<!--  :-->
<!--  "/image/book_1.jpg"-->
<!--  name-->
<!--  :-->
<!--  "Sila stresu"-->
<!--  online-->
<!--  :-->
<!--  true-->
<!--  price-->
<!--  :-->
<!--  10-->
<!--  uuid-->
<!--  :-->
<!--  "000e7f83-dbc2-4565-8fc2-61094d79736a"-->

</div>

<router-outlet></router-outlet>
