
<h1>Shipping and payment options</h1>
<form #shipForm=ngForm>

  <h2>Shipping methods</h2>
  <div class="form-check">
    <div>
      <input type="radio" class="form-check-input"  id="home" name="shipping" value="home delivery" ngModel>
      <label for="home" class="form-check-label">Home delivery</label>
    </div>

    <div>
      <input type="radio" class="form-check-input" id="point" name="shipping" value="delivery point" ngModel>
      <label for="point" class="form-check-label">Shipping to a delivery point</label>
    </div>

    <div>
      <input type="radio" class="form-check-input" id="store" name="shipping" value="delivery to a store" ngModel>
      <label for="store" class="form-check-label">Shipping to a store</label>
      <div class="invalid-feedback">More example invalid feedback text</div>
    </div>
  </div>

  <h2>Payment methods</h2>
  <div class="form-check">
    <div>
      <input type="radio" class="form-check-input"  id="PayU" name="payment" value="PayU" ngModel>
      <label for="PayU" class="form-check-label">PayU</label>
    </div>

    <div>
      <input type="radio" class="form-check-input" id="card" name="payment" value="card" ngModel>
      <label for="card" class="form-check-label">Card payment</label>
    </div>

    <div>
      <input type="radio" class="form-check-input" id="cash" name="payment" value="cash on delivery" ngModel>
      <label for="cash" class="form-check-label">Cash on delivery</label>
    </div>
  </div>

</form>

<div class="row arrows-row">
  <div class="col left-arrow-button-div">
    <button class="svg-button arrow-button" [routerLink]="['/sales/client-data']" >
      <i class="fa-solid fa-arrow-left"></i> Contact and shipping information
    </button>
  </div>

  <div class="col right-arrow-button-div">
    <button class="svg-button arrow-button" [routerLink]="['/sales/summary']" [disabled]="isNextPageButtonDisabled(shipForm)" >
      Checkout Summary <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
