<p>products works!</p>
<!--<div *ngIf="products">-->
<!--  <div *ngFor="let product of products">-->
<!--    <h2>{{product.name}}</h2>-->
<!--    <p>price: {{product.price}}</p>-->
<!--    <img src="{{product.image}}">-->
<!--  </div>-->
<!--</div>-->

<div *ngIf="products" class="product-container">
  <div *ngFor="let product of products" class="product-item">
    <a class="btn btn-product-details" role="button">{{ product.name }}</a>
    <img class="mt-3" src="{{ product.image }}" alt="{{ product.name }}">
    <p>Price: {{ product.price }}</p>
    <button class="btn btn-add-to-card"> Add to cart </button>
  </div>
</div>



