$base-dark: #7F8E9A;
$base-light: #d9d9d9;

$font-color-dark: #7F8E9A;
$font-color-light: #d9d9d9;

.text-container {
  color: $base-dark !important;
  background-color: $base-light !important;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px; // Increased padding for better spacing
  max-width: 800px; // Wider max-width
  margin: 20px auto;

  h2 {
    font-size: 24px;
    color: $base-dark !important;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 15px;
    line-height: 1.5;
  }
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  width: calc(33.33% - 20px); /* Zmiana szerokości na trzy elementy w wierszu z odjęciem większego marginesu */
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
  color: $font-color-dark !important;
  background-color: $base-light !important;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;

  img {
    width: 240px; /* Mniejsza szerokość */
    height: 160px; /* Mniejsza wysokość, zachowując proporcje 3:2 */
    object-fit: cover;
    border-radius: 5px;
    object-position: center center;
  }
}

@media (max-width: 767px) {
  .product-item {
    width: calc(50% - 20px);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .product-item {
    width: calc(50% - 20px);
  }
}

@media (min-width: 1200px) {
  .product-item {
    width: calc(25% - 20px);
  }
}

.btn-product-details {
  color: $font-color-dark !important;
  font-size: 16px !important;
  font-weight: bold;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: auto;

  &:hover {
    background-color: $base-dark !important;
    color: $font-color-light !important;
  }
}

.btn-add-to-card {
  color: $font-color-dark !important;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: auto;
  border: 1px solid $base-dark !important;

  &:hover {
    background-color: $base-dark !important;
    color: $font-color-light !important;
  }
}
