$base-dark: #A6603A;
$base-light: #EFE3B8;

$font-color-dark: #A6603A;
$font-color-light: #EFE3B8;

.btn-submit {
  border: 2px solid $base-light !important;
  color: $base-light;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: auto;
}
