<p>log-in works!</p>
<form class="Sign up form">
  <div class="row mb-3">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name">
    </div>
  </div>
  <div class="row mb-3">
    <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="lastName">
    </div>

  </div>
  <div class="row mb-3">
    <label for="email1" class="col-sm-2 col-form-label">Email address</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email1" aria-describedby="emailHelp">
    </div>
  </div>
  <div class="row mb-3">
    <label for="password1" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password1">
    </div>
  </div>
  <div class="mb-3 form-check">
    <label class="form-check-label" for="newsletterCheck">Do you want to receive newsletter?</label>
    <input type="checkbox" class="form-check-input" id="newsletterCheck">
  </div>
  <button type="submit" class="btn btn-submit">Submit</button>
</form>
