$base-dark: #7F8E9A;
$base-light: #d9d9d9;

$font-color-dark: #7F8E9A;
$font-color-light: #d9d9d9;


.about-bg {
  background-size: cover;
  padding: 20px;
}

.btn-shop-now {
  border: 1px solid $base-light !important;
  color: $base-light;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: auto;


  &:hover {
    background-color: $base-light !important;
    color: $base-dark !important;
  }
}

.btn-show-more {
  border: 1px solid $base-dark !important;
  color: $font-color-dark !important;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: auto;

  &:hover {
    background-color: $base-dark !important;
    color: $font-color-light !important;
  }
}

.main-card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2% 0;
  text-align: center;
}
